<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huifangyuan.app.mapper.CouponMapper" >
    <insert id="collectCoupons" parameterType="com.huifangyuan.app.domain.CouponHistory" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sms_coupon_history ( shop_id, coupon_id, member_id, member_nickname, create_time, use_status )
        VALUES
            ( #{shopId}, #{couponId}, #{memberId}, #{memberNickname}, #{createTime}, #{useStatus} )
    </insert>
    <update id="setAutoInvalid" parameterType="map">
        CREATE EVENT ${eventName} ON SCHEDULE AT TIMESTAMP #{endTime}
        DO
            UPDATE sms_coupon_history
            SET use_status = #{ useStatus }
        WHERE
            id = #{id}
    </update>
    <update id="useConponByCouponHistoryId" parameterType="long">
        UPDATE sms_coupon_history
        SET use_status = 1
        WHERE
            id = #{id}
    </update>
    <update id="removeAutoInvalid" parameterType="string">
        DROP EVENT ${eventName}
    </update>
    <select id="getAllUsableCoupons" parameterType="long" resultType="com.huifangyuan.app.vo.UsableCouponVO">
        SELECT
            c.id,
            c.NAME,
            c.platform,
            c.amount,
            c.start_time startTime,
            c.end_time endTime,
            c.use_type,
            cp.product_category_id productCategoryId,
            cp.product_category_name productCategoryName,
            cr.product_id productId,
            cr.product_name productName,
            s.name shopName
        FROM
            sms_coupon c
            LEFT JOIN sms_coupon_product_category_relation cp ON c.id = cp.coupon_id
            LEFT JOIN sms_coupon_product_relation cr ON cr.coupon_id = c.id
            LEFT JOIN ums_shop_information s ON s.id = c.shop_id
        WHERE
          c.member_level <![CDATA[<=]]> #{memberLevel} and c.publish_count = 1
    </select>
    <select id="getAllCouponsByMemberId" parameterType="long" resultType="com.huifangyuan.app.vo.MemberAllCouponVO">
        SELECT
            c.id,
            c.NAME,
            c.platform,
            c.amount,
            c.start_time startTime,
            c.end_time endTime,
            c.use_type,
            cp.product_category_id productCategoryId,
            cp.product_category_name productCategoryName,
            cr.product_id productId,
            cr.product_name productName,
            ch.id couponHistoryId,
            ch.use_status useStatus,
            ch.order_id orderId,
            ch.order_sn orderSn,
            s.name shopName
        FROM
            sms_coupon_history ch
            JOIN sms_coupon c ON ch.coupon_id = c.id
            LEFT JOIN sms_coupon_product_category_relation cp ON c.id = cp.coupon_id
            LEFT JOIN sms_coupon_product_relation cr ON cr.coupon_id = c.id
            LEFT JOIN ums_shop_information s ON s.id = c.shop_id
        WHERE
            ch.member_id = #{id}
    </select>
    <select id="getUsableCouponsByMemberId" resultType="com.huifangyuan.app.vo.MemberAllCouponVO">
        SELECT
            c.id,
            c.NAME,
            c.platform,
            c.amount,
            c.start_time startTime,
            c.end_time endTime,
            c.use_type,
            cp.product_category_id productCategoryId,
            cp.product_category_name productCategoryName,
            cr.product_id productId,
            cr.product_name productName,
            ch.id couponHistoryId,
            ch.use_status useStatus,
            ch.order_id orderId,
            ch.order_sn orderSn,
            s.name shopName
        FROM
            sms_coupon_history ch
            JOIN sms_coupon c ON ch.coupon_id = c.id
            LEFT JOIN sms_coupon_product_category_relation cp ON c.id = cp.coupon_id
            LEFT JOIN sms_coupon_product_relation cr ON cr.coupon_id = c.id
            LEFT JOIN ums_shop_information s ON s.id = c.shop_id
        WHERE
            ch.member_id = #{id} and ch.use_status = 0
    </select>
    <select id="getUsableCouponsByMemberIdAndShopId" parameterType="com.huifangyuan.app.domain.Member" resultType="com.huifangyuan.app.vo.MemberAllCouponVO">
        SELECT
            c.id,
            c.NAME,
            c.platform,
            c.amount,
            c.start_time startTime,
            c.end_time endTime,
            c.use_type,
           cp.product_category_id productCategoryId,
            cp.product_category_name productCategoryName,
            cr.product_id productId,
            cr.product_name productName,
            ch.id couponHistoryId,
            ch.use_status useStatus,
            ch.order_id orderId,
            ch.order_sn orderSn,
            s.name shopName
        FROM
            sms_coupon_history ch
            JOIN sms_coupon c ON ch.coupon_id = c.id
            LEFT JOIN sms_coupon_product_category_relation cp ON c.id = cp.coupon_id
            LEFT JOIN sms_coupon_product_relation cr ON cr.coupon_id = c.id
            LEFT JOIN ums_shop_information s ON s.id = c.shop_id
        WHERE
            ch.member_id = #{id} and c.shop_id = #{shopId} and ch.use_status = 0 or ch.member_id = #{id} and c.use_type = 0 and ch.use_status = 0
    </select>
    <select id="checkCouponStatusFromAllCouponList" parameterType="map" resultType="java.lang.Long">
        SELECT
            shop_id
        FROM
            sms_coupon
        WHERE
            id = #{couponId}
            AND per_limit <![CDATA[>]]> ( SELECT count( id ) FROM sms_coupon_history WHERE member_id = #{memberId} AND coupon_id = #{couponId} )
    </select>
    <select id="getCouponEndTimeByCouponId" resultType="java.lang.String">
        SELECT
            end_time
        FROM
            sms_coupon
        WHERE
            id = #{id}
    </select>
    <select id="checkCouponStatusFromMemberListByCouponHistoryId" parameterType="map" resultType="java.lang.Integer">
        SELECT
            count( ch.id ),
            c.min_point
        FROM
            sms_coupon_history ch
        JOIN sms_coupon c ON c.id = ch.coupon_id
        WHERE
            ch.id = #{id}
            AND ch.use_status = 0
            AND c.min_point <![CDATA[<=]]> ${amount}
    </select>
    <select id="getDisableCouponsByMemberId" resultType="com.huifangyuan.app.vo.MemberAllCouponVO">
     SELECT
            c.id,
            c.NAME,
            c.platform,
            c.amount,
            c.start_time startTime,
            c.end_time endTime,
            c.use_type,
            cp.product_category_id productCategoryId,
            cp.product_category_name productCategoryName,
            cr.product_id productId,
            cr.product_name productName,
            ch.id couponHistoryId,
            ch.use_status useStatus,
            ch.order_id orderId,
            ch.order_sn orderSn,
            s.name shopName
        FROM
            sms_coupon_history ch
            JOIN sms_coupon c ON ch.coupon_id = c.id
            LEFT JOIN sms_coupon_product_category_relation cp ON c.id = cp.coupon_id
            LEFT JOIN sms_coupon_product_relation cr ON cr.coupon_id = c.id
            LEFT JOIN ums_shop_information s ON s.id = c.shop_id
        WHERE
            ch.member_id = #{id} and ch.use_status <![CDATA[<>]]> 0
    </select>
</mapper>